@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  background: #f2f2f2;
}

@media (min-width: 768px) {
  footer svg {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  footer ul {
    display: flex;
    justify-content: space-evenly;
  }
}
@media (min-width: 880px) {
  .hero .pink-button {
    width: 300px;
  }

  .fonctionnement {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .fonctionnement h2 {
    text-align: center;
    width: 100%;
  }
  .fonctionnement .step {
    width: 25%;
  }

  .restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .restaurants h2 {
    text-align: center;
    width: 100%;
  }
  .restaurants .card {
    width: 20%;
  }

  .lc-img-container {
    height: 300px !important;
    object-fit: fill;
  }
  .lc-img-container img {
    height: 80%;
  }

  .menu {
    border-radius: 0px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .menu .pink-button {
    width: 300px;
    margin-top: 70px;
    margin-left: 40%;
    margin-bottom: 30px;
  }

  .menu-title {
    width: 100%;
  }
}
.menu-title h1 {
  font-family: "Shrikhand", sans-serif;
}

.dish .checkfa, .dish .checkbox-container, .card .new-tag, .pink-button, .step, .step .number, .step .right-bloc, header a {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 55px;
  box-shadow: 0px 0px 5px grey;
  background: white;
  padding-top: 14px;
}
header img {
  width: 180px;
}
header i {
  font-size: 22px;
  position: absolute;
  left: 20px;
}

.location-form input {
  border: none;
  width: 100%;
  height: 50px;
  background: rgba(107, 107, 107, 0.219);
  font-size: 18px;
  padding: 28px;
}
.location-form i {
  font-weight: 900;
  position: absolute;
  left: 44%;
  top: 74px;
}
.location-form ::placeholder {
  transform: translateX(-10px);
  text-align: center;
  color: #626262;
  font-weight: bold;
}

.step {
  margin-bottom: 20px;
}
.step .number {
  transform: translateX(10px);
  font-size: 14px;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 5px;
  background: #9356dc;
}
.step .right-bloc {
  justify-content: start;
  width: 90%;
  height: 70px;
  border-radius: 18px;
  background: #f2f2f2;
  margin-right: 20px;
  padding-right: 40px;
  box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.589);
}
.step .right-bloc:hover {
  background: #f0e9e9;
  box-shadow: 0px 2px 8px rgba(128, 128, 128, 0.589);
}
.step .right-bloc:hover > .icone {
  color: #9356dc;
}
.step .icone {
  padding: 30px;
  padding-left: 35px;
  color: grey;
  font-size: 20px;
}
.step .text {
  font-size: 16px;
  font-weight: bold;
}

footer {
  background: #313030;
  line-height: 1.9;
  padding: 21px;
}
footer svg {
  width: 110px;
}
footer svg path {
  fill: white !important;
}
footer .fas {
  padding-right: 10px;
  font-size: 16px;
}
footer .fa-hands-helping {
  transform: rotate(-15deg);
  font-size: 12px;
}
footer a {
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.pink-button {
  margin: 0 auto;
  border-radius: 30px;
  color: white;
  width: 58%;
  height: 50px;
  background: linear-gradient(167deg, #ff79da 0%, #9356dc 100%);
  border: none;
  font-size: 16px;
  box-shadow: 0px 1px 5px grey;
  transition: 0.3s;
  cursor: pointer;
}
.pink-button:hover {
  background: linear-gradient(167deg, #ff83dd 0%, #985ede 100%);
  box-shadow: 0px 2px 8px dimgray;
}

.heart-button {
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  font-size: 26px;
  color: #525252;
  top: 2px;
  padding-right: 30px;
  height: 26px;
  cursor: pointer;
}
.heart-button .far {
  position: absolute;
  background: transparent;
  z-index: 2;
  opacity: 1;
  transition: 3s;
}
.heart-button .far:hover {
  opacity: 0.1;
}
.heart-button .far:hover ~ .fas {
  transition: 3s;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}
.heart-button .fas {
  position: absolute;
  z-index: 1;
  opacity: 0;
}
.heart-button .fas:hover ~ .heart-button {
  color: rgba(82, 82, 82, 0);
}

.card {
  border-radius: 15px;
  width: 94%;
  height: 280px;
  display: flex;
  margin: 0 auto;
  position: relative;
  flex-direction: column;
  margin-bottom: 50px;
  box-shadow: 0px 2px 8px rgba(128, 128, 128, 0.389);
}
.card .img-container {
  display: flex;
  height: 200px;
}
.card .img-container img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.card .new-tag {
  position: absolute;
  color: #2e8b6c;
  background: #8ed6c0;
  padding: 7px 18px;
  font-weight: bold;
  right: 10px;
  top: 10px;
  border-radius: 2px;
  font-size: 15px;
}
.card .infos-container {
  display: flex;
  justify-content: space-between;
  height: 30%;
  border-radius: 0 0 15px 15px;
  font-size: 18px;
  padding: 15px 15px 0px 15px;
  line-height: 1.5;
  background: white;
}

body {
  font-family: "Roboto", sans-serif;
}

.hero {
  background: #f2f2f2;
  padding-bottom: 60px;
}
.hero h1 {
  text-align: center;
  font-size: 24px;
  padding: 40px 40px 0px 40px;
  font-weight: bold;
}
.hero h3 {
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  padding: 15px;
  color: #8b8b8b;
  margin-bottom: 16px;
}

.fonctionnement {
  padding-top: 50px;
  padding-bottom: 50px;
  background: white;
}
.fonctionnement h2 {
  font-size: 22px;
  padding-left: 10px;
  padding-bottom: 25px;
}

.restaurants {
  background: #f2f2f2;
  padding-top: 50px;
}
.restaurants h2 {
  font-size: 24px;
  padding-left: 10px;
  padding-bottom: 30px;
}

.lc-img-container {
  height: 260px;
}
.lc-img-container img {
  object-fit: cover;
}

.menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px;
  padding-bottom: 10px;
  width: 100%;
}
.menu-title .far {
  font-size: 25px;
}
.menu-title h1 {
  font-size: 25px;
  font-weight: 600;
}

.menu {
  transform: translateY(-65px);
  border-radius: 40px 40px 0 0;
  background: #f2f2f2;
}
.menu h2 {
  font-size: 15px;
  color: grey;
  font-weight: lighter;
  padding-left: 23px;
  padding-top: 20px;
  text-transform: uppercase;
}

.desserts {
  padding-bottom: 30px;
}

.subline {
  width: 40px;
  height: 3px;
  margin-top: 4px;
  background: #99e2d0;
  margin-left: 23px;
}

@keyframes show {
  from {
    opacity: 0.2;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.dish-1 {
  animation-delay: 0.2s;
}

.dish-2 {
  animation-delay: 0.4s;
}

.dish-3 {
  animation-delay: 0.6s;
}

.dish-4 {
  animation-delay: 0.8s;
}

.dish input:checked ~ .dish-infos {
  transition: 1s;
  width: 255px !important;
  margin-right: 5px;
}
.dish input:checked ~ .checkfa {
  transform: rotate(360deg);
  right: 27px;
  opacity: 1;
  transition: transform 1.3s, opacity 0.4s;
}
.dish input:checked ~ .checkbox-container {
  transform: translateX(13px);
  transition: transform 0.6s;
}

.dish {
  display: flex;
  margin: auto;
  background: white;
  border-radius: 15px;
  width: 350px;
  margin-bottom: 15px;
  margin-top: 15px;
  overflow-x: hidden;
  box-shadow: 0px 2px 8px rgba(128, 128, 128, 0.389);
  animation-name: show;
  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}
.dish label {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
}
.dish .checkfa {
  position: absolute;
  font-size: 14px;
  background: white;
  color: #99e2d0;
  padding-top: 2px;
  right: -20px;
  opacity: 0;
  top: 27px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: white;
}
.dish .checkbox-container {
  width: 70px;
  background: #99e2d0;
  transition: 0.3s;
  flex-direction: column;
  right: 12px;
  height: 70px;
  border-radius: 0 15px 15px 0;
  position: absolute;
  transform: translateX(82px);
}
.dish input {
  display: none;
}
.dish h3 {
  padding-top: 13px;
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dish .dish-detail {
  display: flex;
  justify-content: space-between;
}
.dish .dish-description {
  color: grey;
  font-size: 15px;
  padding: 5px 10px 15px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dish .price {
  font-weight: bold;
  padding-top: 5px;
  font-size: 15px;
}
.dish .dish-infos {
  width: 100%;
  transition: 0.2s;
  margin-right: 20px;
  flex-direction: column;
  padding-left: 15px;
}

@media (max-width: 350px) {
  .dish {
    width: auto;
  }

  .menu-title h1 {
    font-size: 20px;
    transform: translateX(-10px);
  }
}
.loading {
  width: 100%;
  height: 100%;
  display: flex;
  background: #fafafa;
  position: fixed;
  z-index: -1;
  justify-content: center;
  align-items: center;
  animation-name: vanish;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.loading span {
  display: inline-block;
  font-size: 40px;
  animation-name: breath;
  animation-duration: 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  color: #9356dc;
}

@keyframes vanish {
  0% {
    z-index: 6;
  }
  80% {
    opacity: 5;
  }
  99% {
    z-index: 4;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes breath {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1.2);
    color: #ff79da;
  }
}
.loading::after {
  content: "";
  margin-left: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-top: 2px solid #c20cf0;
  border-bottom: 1px solid #d31515;
  animation: tournicoton;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  box-shadow: 3px 3px 101px rgba(176, 12, 226, 0.596);
}

@keyframes tournicoton {
  to {
    transform: rotate(5400deg);
    box-shadow: 3px 3px 103px #a624ce;
  }
}

/*# sourceMappingURL=style.css.map */
