@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

@font-face {
  font-family: "Roboto";
  src: local("/assets/fonts/Roboto-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: local("/assets/fonts/Shrikhand-Regular.ttf") format("ttf");
}
body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Shrikhand", sans-serif;
}

input[type=checkbox], .card .new-tag, .pink-button, .step, .step .number, .step .right-bloc, header a {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 55px;
  box-shadow: 0px 0px 5px grey;
}
header img {
  transform: scale(0.46);
}
header i {
  font-size: 22px;
  transform: translateX(30px);
}

.location-form input {
  border: none;
  width: 100%;
  height: 50px;
  background: rgba(107, 107, 107, 0.219);
  font-size: 18px;
  padding: 28px;
}
.location-form ::placeholder {
  transform: translateX(-10px);
  text-align: center;
  color: #626262;
  font-weight: bold;
  font-family: "Font Awesome 5 Free";
}

.step {
  margin-bottom: 20px;
}
.step .number {
  transform: translateX(10px);
  font-size: 14px;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 5px;
  background: #9356dc;
}
.step .right-bloc {
  justify-content: start;
  width: 90%;
  height: 70px;
  border-radius: 18px;
  background: #f2f2f2;
  margin-right: 20px;
  padding-right: 40px;
  box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.589);
}
.step .icone {
  padding: 30px;
  padding-left: 35px;
  color: grey;
  font-size: 22px;
}
.step .text {
  font-size: 16px;
  font-weight: bold;
}

footer {
  background: #313030;
  line-height: 1.9;
  padding: 21px;
}
footer svg {
  width: 110px;
}
footer svg path {
  fill: white !important;
}
footer .row {
  display: flex;
  color: white;
  align-items: center;
  font-size: 18px;
}
footer .row span {
  padding-right: 10px;
  font-size: 16px;
}
footer .row .fa-hands-helping {
  transform: rotate(-15deg);
  font-size: 12px;
}
footer a {
  color: white;
  font-size: 18px;
}

.pink-button {
  margin: 0 auto;
  border-radius: 30px;
  color: white;
  width: 58%;
  height: 50px;
  background: linear-gradient(167deg, #ff79da 0%, #9356dc 100%);
  border: none;
  font-size: 16px;
  box-shadow: 0px 1px 5px grey;
  transition: 0.3s;
}
.pink-button:hover {
  background: linear-gradient(167deg, #ff83dd 0%, #985ede 100%);
  box-shadow: 0px 2px 8px dimgray;
}

.heart-button {
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  font-size: 26px;
  color: rgba(161, 161, 161, 0.671);
  top: 9px;
  padding-right: 30px;
  height: 26px;
}
.heart-button .fas {
  color: #ff79da;
  position: absolute;
  transform: translateY(0%);
}
.heart-button .far {
  position: absolute;
}

.card {
  border-radius: 15px;
  width: 92%;
  height: 280px;
  display: flex;
  margin: 0 auto;
  position: relative;
  flex-direction: column;
  margin-bottom: 50px;
  box-shadow: 0px 2px 8px rgba(128, 128, 128, 0.389);
}
.card .img-container {
  display: flex;
  height: 200px;
}
.card .img-container img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.card .new-tag {
  position: absolute;
  color: #2e8b6c;
  background: #8ed6c0;
  padding: 7px 18px;
  font-weight: bold;
  right: 10px;
  top: 10px;
  border-radius: 2px;
  font-size: 15px;
}
.card .infos-container {
  display: flex;
  justify-content: space-between;
  height: 30%;
  border-radius: 0 0 15px 15px;
  font-size: 18px;
  padding: 15px 15px 0px 15px;
  line-height: 1.5;
  background: white;
}

.hero {
  background: #f2f2f2;
  padding-bottom: 60px;
}
.hero h1 {
  text-align: center;
  font-size: 24px;
  padding: 40px 40px 0px 40px;
  font-weight: bold;
}
.hero h3 {
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  padding: 15px;
  color: #8b8b8b;
  margin-bottom: 16px;
}

.fonctionnement {
  padding-top: 50px;
  padding-bottom: 50px;
}
.fonctionnement h2 {
  font-size: 24px;
  padding-left: 10px;
  padding-bottom: 25px;
}

.restaurants {
  background: #f2f2f2;
  padding-top: 50px;
}
.restaurants h2 {
  font-size: 24px;
  padding-left: 10px;
  padding-bottom: 30px;
}

.landing-container {
  height: 260px;
}
.landing-container .overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f2f2f2;
  font-size: 15px;
  padding: 30px;
  border-radius: 40px 40px 0 0;
  width: 100%;
  transform: translateY(-50px);
  font-family: "Shrikhand", sans-serif;
}
.landing-container .overlay .far {
  font-size: 25px;
}

.menu {
  background: #f2f2f2;
  padding-top: 35px;
  padding-bottom: 80px;
}
.menu h2 {
  font-size: 16px;
  color: grey;
  font-weight: lighter;
  padding-left: 23px;
  padding-top: 15px;
}

.desserts {
  padding-bottom: 30px;
}

.subline {
  width: 40px;
  height: 3px;
  margin-top: 4px;
  background: #99e2d0;
  margin-left: 23px;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translate(-100%, -50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: white;
}

input[type=checkbox]:checked:before {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-size: 14px;
  font-weight: 900;
  content: "";
  color: #99e2d0;
  padding-top: 2px;
}

.dish {
  display: flex;
  margin: auto;
  background: white;
  border-radius: 15px;
  width: 93%;
  margin-bottom: 15px;
  margin-top: 15px;
  overflow-x: hidden;
  box-shadow: 0px 2px 8px rgba(128, 128, 128, 0.389);
}
.dish label {
  width: 460px;
  padding-left: 15px;
}
.dish label:hover + .checkbox-container {
  transform: translate(0);
}
.dish .checkbox-container {
  width: 80px;
  background: #99e2d0;
  transition: 0.3s;
  position: relative;
  margin-left: 10px;
}
.dish h3 {
  padding-top: 13px;
  font-size: 18px;
}
.dish .dish-detail {
  display: flex;
  justify-content: space-between;
}
.dish .dish-description {
  color: grey;
  font-size: 14px;
  padding: 5px 10px 15px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dish .price {
  font-weight: bold;
  padding-top: 5px;
  font-size: 15px;
}
.dish .dish-infos {
  width: 280px;
  transition: 0.3s;
}

/*# sourceMappingURL=style.css.map */
